[package]
name = "for-streams-impl"
version = "0.1.0"
edition = "2024"
readme = "README.md"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.103"
quote = "1.0.42"
syn = { version = "2.0.110", features = ["full"] }
